{% extends 'general/students.html' %}

{% block title %}{% block page %}Получение ID{% endblock %}{% endblock %}

{% block content  %}
    <div class="table_ block" style="padding-bottom: 31px">
        <div style="display: inline-table; padding-left: 10px;">
        <p style="margin-bottom: 0; ">Предмет</p>
        <select name="select1">
          <option value="value1" selected>Программирование</option>
          <option value="value2">Дискретная математика</option>
        </select>
        <p>
        <p style="margin-bottom: 0">Лабораторная работа №</p>
        <select name="select2" style="width: 205px">
          <option value="value1" selected>1</option>
          <option value="value2">2</option>
        </select>
        <br>
        <br>
        <button>ПОЛУЧИТЬ КОД</button>
        </div>
        <div style="display: inline-table; padding-left: 50px">
            <h4>Информация</h4>
            <p>Lorem ipsum dolor sit amet,<br>
                consectetur adipisicing <br>
                elit. Consequatur deserunt <br>
                dolores laboriosam minus<br>
                molestiae mollitia officia<br>
                qui, quis reprehenderit vel?</p>
        </div>
    </div>
{{ block.super }}
{% endblock %}